#meme-image-container {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: 500px;
}

#meme-text , #meme-image {
  position: absolute;
}

#meme-text {
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#fire {
  display: inline-block;
  background-color: red;
}

#water {
  background-color: blue;
  display: inline-block;
}

#earth {
  background-color: green;
  display: inline-block;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 100px;
  margin: 10px;
  border: 1px solid black;
}
